body {
    background-color: black;
    background-image: url('../IMG/background.jpg');
    background-size: cover;
    background-repeat: no-repeat, no-repeat, repeat-x;
    background-position-y: 30px;
    margin: 0;
    overflow: hidden;
}
#overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../IMG/gameover.png');
  background-size: cover;
}
#game{
    height: 100vh;
    width: 100vw;
    cursor: cell;
}
#togglemusic{
    margin-left: 95vw;
    margin-top: 30px;
    height: 50px;
    width: 50px;
    display: inline;
}
/* .game{
    background: black;
    width: 100vw;
    height: 100vh;
} */
#timer_div{
    margin-top: -7vh;
    margin-left: 2vw;
    font-size: 40px;
    font-family: 'Fontdiner Swanky';
}
#End {
    margin-top: 10vh;
}
#gameOver{
    font-size: 60px;
    font-family: 'Fontdiner Swanky';
}
audio{
    width: 10px;
}
#gun{
    position: absolute;
}



  /* .container {
    margin-left: 0;
    width: 110vw;
  }
  
  .path {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 80px;
    margin-top: 50px;
  }
  .cloud {
    position: absolute;
    left: 0;
    display: block;
    top: 0;
  }
  .white{
      opacity: 50%;
  }
  .one{
    animation: ani 180s infinite;
  }
  .two{
    animation: ani 90s infinite;
    margin-left: 20vw;
  }
  .three{
    animation: ani 360s infinite;
    margin-left: 40vw;
  }
  .four{
    animation: ani 270s infinite;
    margin-left: 60vw;
  }
  .five{
    animation: ani 480s infinite;
    margin-left: 80vw;
  }
  .six{
    animation: ani 570s infinite;
    margin-left: 100vw;
  }
  
  
  @keyframes ani {
    0% {
      left: -10vw;
    }
    50% {
      left: 100vw;
    }
    100% {
      left: -20vw;
    }
  } */