body {
    background-color: black;
    background-image: url('../IMG/background.jpg');
    background-size: cover;
    background-repeat: no-repeat, no-repeat, repeat-x;
    background-position-y: 30px;
}
/* .bgmusic{
    display:none;
} */
/* .game{
    background: black;
    width: 100vw;
    height: 100vh;
} */
#timer_div{
    margin-top: 5vh;
    margin-left: 2vw;
    font-size: 40px;
    font-family: 'Fontdiner Swanky';
}
#End {
    margin-top: 10vh;
}
#gameOver{
    font-size: 60px;
    font-family: 'Fontdiner Swanky';
}
audio{
    width: 10px;
}